html, head, body {
    margin: 0%;
}

.banner {
    background-image: url(./banner.png);
    height: 50%;
    position: absolute;
    top: 0%;
    bottom: 50%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;  
}

.content {
    background: rgb(41, 41, 41);
    width: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    top: 50%;
    height: 90%;
}

h1, h2, h3, p, a, span {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}