h1, h2, h3, p, span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


html, head, body {
    margin: 0;
    background-color: #18191c;
}

.grad {
    background: linear-gradient(270deg, #001e1c, #367268, #189494, #d22fe7, purple);
    background-size: 800% 800%;

    -webkit-animation: grad 30s ease infinite;
    -moz-animation: grad 30s ease infinite;
    -o-animation: grad 30s ease infinite;
    animation: grad 30s ease infinite;
    height: 50%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    position: absolute;
}

@-webkit-keyframes grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes grad {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.bottom {
    height: 50%;
    width: 100%;
    margin: 0;
    position: fixed;
    margin-top: 50%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    display: grid;
}

