html, head, body {
    margin: 0%;
}

.banner {
    background-image: url(./banner.png);
    height: 50%;
    position: absolute;
    top: 0%;
    bottom: 50%;
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;  
}

.content {
    background: rgb(41, 41, 41);
    width: 100%;
    position: absolute;
    display: grid;
    justify-content: center;
    align-content: center;
    top: 50%;
    height: 90%;
}

.termbox {
    width: 800px;
    height: 400px;
    background-color: black;
    position: relative;
    padding: 15px;
    left: 0%;
    display: inline;
}

#cursor {
    display: inline-block;
    margin-left: 10px;
}

#command {
    background-color: rgb(0, 0, 0);
    color: white;
    border: black;
}

h1, h2, h3, p, a, span {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}